
<nav class="navbar  navbar-light justify-content-center h-100 d-flex align-items-center">
  <h1 class="font-gv"><a class="text-white " >C</a></h1>
  <!-- <h5 class="lead"><a class=" text-white" >mycws.store</a></h5> -->
</nav>
