@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-social/bootstrap-social.css';
@import '~@mdi/font/css/materialdesignicons.css';

/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@import '~font-awesome/css/font-awesome.css';

/**
 *Font Awesome Fonts
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?v=4.1.0');
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('/assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Fredericka The Great';
  src: url('/assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Great Vibes';
  src: url('/assets/fonts/Great_Vibes/GreatVibes-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Italianno';
  src: url('/assets/fonts/Italianno/Italianno-Regular.ttf') format("opentype");
}
@font-face {
  font-family: 'Megrim';
  src: url('/assets/fonts/Megrim/Megrim.ttf') format("opentype");
}
@font-face {
  font-family: 'Sacramento';
  src: url('/assets/fonts/Sacramento/Sacramento-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Special Elite';
  src: url('/assets/fonts/Special_Elite/SpecialElite-Regular.otf') format("opentype");
}



/**
 * App-wide Styles
 */
 html{
   position:relative;
   min-height:100%;
 }

 body{
   margin-bottom: 100px;
 }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
Using MDI with bootstrap 3/4 , this helper classes are needed
https://dev.materialdesignicons.com/getting-started/bootstrap
*/
.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
    font-size: 1.25em;
    line-height: initial;
    position: relative;
    top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
    margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
    margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
    margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
    margin-left: -0.5rem;
}
.modal-title.mdi::before {
    font-size: 1.5em;
    line-height: 0.5;
    position: relative;
    top: 0.26rem;
    margin-right: 0.5rem;
}
/*
MDI End
*/

/* Component styles are injected through gulp */
/* inject:css */
@import 'admin/admin.css';
@import 'custom.css';
@import 'main/main.css';
@import '../components/footer/footer.css';
@import '../components/modal/modal.css';
@import '../components/oauth-buttons/oauth-buttons.css';
/* endinject */
