
.font-se {
  font-family: 'Special Elite', cursive;
}

.font-gv {
  font-family: 'Great Vibes', cursive;
}
.font-sa {
  font-family: 'Sacramento', cursive;
}
.font-it {
  font-family: 'Italianno', cursive;
}
.font-ftg {
  font-family: 'Fredericka the Great', cursive;
}
.font-cd {
  font-family: 'Cinzel Decorative', cursive;
}

.font-me {
  font-family: 'Megrim', cursive;
}
