<!-- <div class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">mycwsstore</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->

<nav class="navbar fixed-top  navbar-expand-lg  navbar-dark  bg-dark">
  <a class="navbar-brand" ui-sref="main">
    <img src="/assets/images/cws-48.png" width="30" height="30" alt="mycws.store">
  </a>
  <button class="navbar-toggler" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" uib-collapse="$ctrl.isCollapsed" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" ng-repeat="item in $ctrl.menu">
        <a class="nav-link active  text-white" ui-sref="{{item.state}}">{{item.title}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-hide="$ctrl.isLoggedIn()"  class="nav-item"><a class="nav-link active  text-white  " ui-sref="signup">Sign up</a></li>
      <li ng-hide="$ctrl.isLoggedIn()"  class="nav-item" ui-sref-active="active"><a  class="nav-link active  text-white" ui-sref="login">Login</a></li>
      <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text  text-white">Hello {{ $ctrl.getCurrentUser().firstName }}</p> </li>
      <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a  class="nav-link active text-white"  ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
      <li ng-show="$ctrl.isLoggedIn()"  class="nav-item"><a class="nav-link active" ui-sref="logout">Logout</a></li>
    </ul>
    <!-- <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
