<header class="hero-unit mt-5" id="banner">
  <div class="container mb-3">
    <h1 class="display-3">my<strong>cws</strong>.store</h1>
    <img src="assets/images/cws.png" alt="I'm Classic">
    <h1 class="display-1" >My</h1>
    <h1 class="display-1" ><strong class="font-gv">Classic</strong></h1>
    <h1 class="display-1" >White Shirt Store</h1>
  </div>
</header>

<h1 class="display-1 text-center text-dark" >My <strong class="font-gv text-danger">Classic</strong> White Shirt Store</h1>

<h1 class="display-2 text-center text-dark" >My <strong class="font-gv text-danger">Classic</strong> White Shirt Store</h1>
<h1 class="display-3 text-center text-dark" >My <strong class="font-gv text-danger">Classic</strong> White Shirt Store</h1>
<h1 class="display-4 text-center text-dark" >My <strong class="font-gv text-danger">Classic</strong> White Shirt Store</h1>

<div class="container">
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div> -->

  <!-- <form class="thing-form">
    <label >Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-outline-primary" ng-click="$ctrl.addThing()"><i class="mdi mdi-account" name="plus"></i></button>
      </span>
    </p>
  </form> -->
</div>
